
.tumbnail{
    width: 100%;
    border-radius: 6px;
}
.tumbnail-row{
    margin-bottom: 5px;
    position: relative;
}
.video-time{
    font-family: roboto,Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    background-color: black;
    color: white;
    position: absolute;
    bottom:8px;
    right: 5px;
}
.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.video-author, 
.video-stats{
    font-size: 14px;
    color: rgb(96, 96, 96);
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-profile{
    align-items: top;
    width: 70%;
    border-radius: 50%;
    
}
.video-info{
     width: 250px;
     display: inline-block;    
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:10px;
    row-gap: 10px;
}
@media(mix-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;
    }
}
@media(max-width:500px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media(min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}